* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #111;
}
#canvasContainer {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#detailedInfo {
	position: fixed;
	transform: translate(0, -50%);
	top: 50%;
	left: 3%;
	color: grey;
	font-size: 100%;
}

#loading {
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	color: grey;
	font-size: 300%;
}
#controls {
	position: fixed;
	top: 2%;
	right: 2%;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-size: 100%;
	background-color: transparent;
	border-radius: 5px;
	padding: 5px;
	list-style-type: none;
}
#controls li {
	display: none;
}
#controls li:first-child {
	display: block;
	text-align: right;
}
#controls li:first-child img {
	height: 25px;
	opacity: 0.2;
}
#controls:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
#controls:hover li {
	display: block;
}
#controls a {
	color: #d3e1f0;
	text-align: center;
}
